%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li.active Blog
%h3 Ashley's Blog
- @articles.each do |article|
  %h4= link_to_unless_current article.title, article
  %p
    - if article.article_image.url
      = link_to(image_tag(article.article_image.url(:thumb), class: 'img-float-right img-responsive'), article)
    = article.body.truncate(225).html_safe
  %p
    %small
      = time_ago_in_words(article.created_at)
      ago
  %br/
  %hr/
= paginate @articles