%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li= link_to 'Blog', articles_path
  %li.active= @article.title
%h3= @article.title
%p
  %i
    Posted #{time_ago_in_words(@article.created_at)} ago
%p
  - if @article.article_image.url
    = image_tag @article.article_image.url, class: 'img-float-right img-responsive'
  = @article.body.html_safe
- if @article.allow_comments
  = render 'layouts/structure/disqus-thread'