%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li.active= @page.title
%h4= @page.title
- if @page.page_image.url
  = image_tag @page.page_image.url, class: 'img-float-right img-responsive'
= @page.content.html_safe