/ Fixed navbar
.navbar.navbar-default{role: "navigation"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li{class: cpa(page_path('about-me'))}
        = link_to 'About Me', page_path('about-me')
      %li{class: cpa(page_path('radio-show'))}
        = link_to 'Radio Show', page_path('radio-show')
      %li{class: cpa(events_path)}
        = link_to 'Events', events_path
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          Media
          %b.caret
        %ul.dropdown-menu
          %li{class: cpa(gallery_path)}
            = link_to 'Photo Gallery', gallery_path
          %li{class: cpa(videos_path)}
            = link_to 'Videos', videos_path
      %li{class: cpa(blog_path)}
        = link_to 'Blog', blog_path
      %li{class: cpa(page_path('contact-me'))}
        = link_to 'Contact Me', page_path('contact-me')
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          More
          %b.caret
        %ul.dropdown-menu
          %li{class: cpa(page_path('social-media'))}
            = link_to 'Social Media', page_path('social-media')

