%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li.active Photos
%h3 Photos
%table.table.table-bordered{width: "100%"}
  - @photos.each do |photo|
    - if photo.photo_image.url(:thumb)
      %tr
        %td{rowspan: "2", valign: "top", width: "20%"}= link_to(image_tag(photo.photo_image.url(:thumb), class: 'thumbnail'), photo)
        %td{width: "80%"}= link_to photo.title, photo
      %tr
        %td{valign: "top"}= photo.description.truncate(200).html_safe
    - else
= paginate @photos