!!!
%html{lang: "en"}
  %head
  = render partial: "layouts/structure/header-scripts"
  %body
    .container
      .row
        = render partial: "layouts/structure/header"
      = render partial: "layouts/structure/navigation"
      - if current_page?(root_path)
        = render partial: "layouts/structure/banner"
      .row
        .col-md-9
          = yield
        .col-md-3
          = render partial: "layouts/structure/right-side"
      = render partial: "layouts/structure/footer"
  = render partial: "layouts/structure/footer-scripts"
  = render partial: "layouts/structure/disqus-scripts"